<div class="addTodo">
    <span>add todo</span>
    <form #addFrom="ngForm">
        <span>title: </span>
        <input type="text" id="title" name="title" placeholder="title" [(ngModel)]="title">
        <br>
        <span>content: </span>
        <input type="text" id="content" name="content" placeholder="content" [(ngModel)]="content">
    </form>
    <button (click)="add()">add</button>
</div>
<br>
<div class="todoList">
    <span>todo list</span>
    <ul *ngFor="let t of todos">
        <li> [{{ t.title }}] - {{ t.content }} <button (click)="comp(t.id)">[{{ t.completed ? "√" : " "}}]</button>
            <button (click)="del()">[x]</button></li>
    </ul>
</div>
